*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.vuoto{
    height: 72.53px;
    width: 100%;
}

.top{
    height: 72.53px;
    width: 100%;
    background-color: #F5F8FA;
    border-bottom: 1px solid #CBD6E2;
    position: fixed;
    z-index: 5;
}

.center{
    margin: auto;
    width: 80%;
    height: 100%;
    position: relative;
}

.left{
    float: left;
    width: 50%;
    height: 100%;
    display: inline-block;
    padding-left: 65px;

}

.center .left ol{
    position: absolute;
    top:36%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.center .left ol li{
    display: inline-block;
    float: left;
    margin-right: 5px;
    color: #516374;
}

.right {
    float: left;
    position: relative;
    width: 50%;
    height:100%;
}

.globo {
    display: inline-block;
    width: 16px;;
    float: left;
    color: #33475B;
    margin-right: 4px;
}


.arrow{
    font-size: 20px;
    position: relative;
    bottom: 5px;
    border-right: 2px solid #CBD6E2;
    color:#7C98B6;
    padding-right: 19px;
    padding-left: 11px;
    padding-bottom: 7px;
    margin-right: 16px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.bottonidestra{
    list-style-type:none;
    position: relative;
    top: calc( (100% - 32.4px) / 2);
    padding-top: 0px;
    padding-right: 0.5rem;
    padding-bottom: 0px;
    padding-left: 0.5rem;
    padding-right: 90px;
}

.allineati{
    display: inline-block;
    float: right;
}

#bottone_free{
    font-size: 0.75rem;
    width:129.05px;;
    height:34.44px;
    background-color: #FF7A59;
    border: 0;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
}

#bottone_login{
    width:68.14px;
    height: 34.55px;
    background-color:#FFFFFF;
    border: 1px solid #FF7A59;
    border-radius: 4px;
    color: #FF7A59;
    margin: 0 10px 0 30px;
    font-size: 0.75rem;

}

#lente{
    position: relative;
    top: 10px;
    color: #438696;
}


.list_menu .allineati h4{
    display: inline-block;
}
.menu {
    height: 81.6px;
    width: 100%;
}

.sezione_menu {
    background-color: white;
}

#allinea_logo {
    position: absolute;
    top: calc((100% - 30px) / 2);

}

.second_left{
    width:30%;
}

.second_right{
    width:70%;
}


.list_menu{
    width: 100%;
    list-style-type: none;
    font-size: 16px;
    position: absolute;
    top: calc(( 100% - 22.4px ) / 2);
    padding-right: 92px;
    font-family: 'Mukta', sans-serif;
    color: #33475B;
}

.arrow_menu{
    position: relative;
    top: -1px;
    margin-left:11px;
    font-size: 17px;
    color: #7C98B6;
}

.list_menu li{
    float: right;
    margin-right: 1px;
    margin-left: 20px;
    padding-right: 8px;
}

.jumbo {
    width:100%;;
    height: 90vh;
    background-color: #FFF2EE;
    position: relative;
    overflow-x: hidden;

}

.jumbo_center {
    padding:0 4rem;
}

main{
    max-width: 430px;
    position: relative;
    top: 100px;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    text-align: left;
    z-index: 2;


}

main h1{
    font-size: 3.438rem;
    line-height: 1.1818;
    color: #33475B;

}

main p{
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 2;
}

.button_get{
    color:#fff;
    background-color: #FF7A59;
    width: 226.19px;
    height: 72px;
    border:0;
    border-radius: 4px;
}

.piccolo{
    text-align: left;
    max-width: 14rem;
    margin-left: 0;
    font-weight: 500;
    color: #33475b;
    font-size: 0.75rem;
    line-height: 1.5;
    margin: 2em 0;

}

.jumbo img{
    position: absolute;
    width: 100%;
    bottom: 0;
    right:0;

}

.sezione_cubo{
    background-color: #F5F8FA;
    width:100%;
    height:464.75px;
}

.container_cubo{
    text-align: center;
    padding: 0 2rem;
    padding-top: 100px;

}

.span_cubo {
    max-width: 800px;

}

.span_cubo h2 {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3125;
    font-family: 'Viga', sans-serif;
    color: #33475B;

}

.span_cubo p{
    max-width: 800px;
    margin:auto;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
    color: #33475B;

}

.cubo {

    height: 194.75px;
    width: 260px;
}

.nuova_sezione{
    background-color: #F2546F;
    width: 100%;
    height: 80.8px;
    position: relative;

}

.nuova_sezione div{
        padding: 0 12%;
        font-weight: 600;
        color: white;
        /*width: 90%;*/
}

.nuova_sezione div p{
    float: left;
    /*top: calc( ( 100% - 18.4px ) / 2);
    letter-spacing: 0.5px;*/
    display: inline;
    margin-right: 1%;
}

.nuova_sezione div span{
    position: absolute;
    top: calc( ( 100% - 18.4px ) / 2);
    letter-spacing: 0.5px;
    width: 100%;
}
.nuova_sezione div button {
    float: left;
    background-color: #f5f8fa;
    border: 0;
    color: #33475b;
    font-size: 0.875rem;
    padding: 0.75rem 1.5rem;
    position: absolute;
    top: -58%;
    font-weight: bolder;
    border-radius: 5%;
}


.div_caselle {
    background-color: #F5F8FA;
}


#casella1 {
    border-radius: 5px;
    margin:auto;
    width: 80%;
    height: 298.8px;
    background-color: white;
    box-shadow: 0px 0px 1px;
    padding: 32px;
    position: relative;

}

.img1 {
    width: 25%;
    height: 100%;
    position: relative;
    text-align: center;
    margin: 0 80.637px;
}
.img1 img{
    width: 100%;
    height: 150px;

}

.container_3_caselle{
    background-color: #F5F8FA;
    width: 100%;
    margin:auto;
    width: 80%;
    padding-top: 4%;
}

.tre {
    float: left;
    background-color: white;
    width: 31%;
    height: 600.69px;
    box-shadow: 0px 0px 1px;
    margin-right: 3.501%;
    border-radius: 5px;
}

#casella4{
    margin-right: 0;
}

.learn{
    position: absolute;
    top: 65%;
    right: 50%;
    transform: translate( 50% , 50% );
    background-color: #FF7A59;
    height: 40.8px;
    width: 121.78px;
    border-radius: 5px;
}

.learn a{
    position: relative;
    top: 22%;
    color: white;
    text-decoration: none;

}

.sezione2_cas1 {
    position: absolute;
    width: 50%;
    left: 45%;
    bottom:15%;
}

.sezione2_cas1 h1{
    margin-bottom: 5%;
    color:#445873;
}

.sezione2_cas1 p{
    line-height: 2;
    font-weight: 200;
    display: inline-block;
    color: :#445873;
    margin-bottom: 4%;
}

.sezione2_cas1 strong{
            margin:2% 0;
}
.riga{
    position: relative;
    display: inline-block;
    width: 350px;
    height: 1px;
    background-color: #DFFFED;
    vertical-align: middle;
    margin:2% 0;
}

.sezione2_cas1 ol {
    float:left;
    display: inline-block;
    padding: 2px;
    margin: 10px;

}

.sezione2_cas1 ol li{
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;

}

.sezione2_cas1 ol li i{
    color: #FF7A59;

}
